<p class="line">
  <span class="line-number">1.</span>
  <span class="line-content">
    <span style='color:#808030; '>.</span>ninja <span style='color:#800080; '>{</span>
  </span>
</p>
<p class="line">
  <span class="line-number">2.</span>
  <span class="line-content">
    &nbsp;&nbsp;<span style='color:#bb7977; font-weight:bold; '>background</span><span style='color:#808030; '>:</span> <span style='color:#778c77; '>#</span><span style='color:#778c77; '>000</span><span style='color:#800080; '>;</span>
  </span>
</p>
<p class="line">
  <span class="line-number">3.</span>
  <span class="line-content">&nbsp;&nbsp;<span style='color:#bb7977; font-weight:bold; '>visibility</span><span style='color:#808030; '>:</span> <span style='color:#477766; '>hidden</span><span style='color:#800080; '>;</span></span>
</p>
<p class="line">
  <span class="line-number">5.</span>
  <span class="line-content"><span style='color:#800080; '>}</span></span>
</p>
