
<div ng-click="openFacebook()">
  <p class="line">
    <span class="line-number">1.</span>
    <span class="line-content">
      <span style='color:#508050; font-weight:bold; '>while</span> <span style='color:#808030; '>(</span>coming<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    </span>
  </p>

  <p class="line">
    <span class="line-number">2.</span>
    <span class="line-content">
      &nbsp;&nbsp;click_here<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> <span style='color:#b96969; '>// go to facebook</span>
    </span>
  </p>

  <p class="line">
    <span class="line-number">3.</span>
    <span class="line-content">
      &nbsp;&nbsp;like<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    </span>
  </p>

  <p class="line">
    <span class="line-number">4.</span>
    <span class="line-content">
      &nbsp;&nbsp;whait_news<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    </span>
  </p>

  <p class="line">
    <span class="line-number">5.</span>
    <span class="line-content"><span style='color:#800080; '>}</span></span>
  </p>
</div>
